/* https://medium.com/%40forfrontendofficial/14-css-shine-effects-for-frontend-3194b796c174 */

@property --c0-achievements {
	syntax: '<color>';
	initial-value: #6C757D;
	inherits: true;
}

@property --c1-achievements {
	syntax: '<color>';
	initial-value: #6C757D;
	inherits: true;
}


.hover-container {
	display: inline;
}

.hover-container:hover .card {
  transform: translateY(-5px);
	outline-color: goldenrod;
	
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

.hover-container:hover .card:before {
  left: 100%;
}

.card {
	--c0-achievements: var(--color1-base);
	--c1-achievements: var(--color2-base);
	background: linear-gradient(225deg, var(--c0-achievements), var(--c1-achievements), var(--c0-achievements));
	transition: all 0.3s ease, --c0-achievements 0.3s ease, --c1-achievements 0.3s ease;

	outline-style: solid;
	outline-color: gray;
	overflow: hidden;
	
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}
.card:hover {
	--c0-achievements: var(--color1-hover);
	--c1-achievements: var(--color2-hover);
}

img {
	width: 100%;
	height: 100%;
	object-fit: fill,
}


.card:before {
	content: "";
	position: absolute;
	top: -150%;
	left: -400%;
	width: 400%;
	height: 400%;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.2),
		transparent
	);
	transition: all 1.5s;
}



.achievement-link {
	color: burlywood;
	text-decoration: none;
	position: relative;
}

.achievement-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: burlywood;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.achievement-link:hover::before {
  transform: scaleX(1);
}