@font-face {
	font-family: "jetbrainsMono";
	src: url(resources/JetBrainsMono-Light.ttf);
	font-display: swap;
}


/* body {
	background: url(Background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
} */

body::after {
	content: "";
	position: fixed;
	z-index: -1;
	left: 0;
	background: rgb(41, 38, 102);
	background: radial-gradient(
	  circle,
	  rgb(21, 59, 196) 0%,
	  rgb(71, 0, 170) 100%
	);
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
}